# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Python virtual environments
.venv/
venv/
ENV/
env/

# PyCharm/VS Code
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class